<div class="min-h-screen bg-[url('https://i.pinimg.com/originals/2e/e6/99/2ee6998e34c3e2eff7b894c66cfc5267.jpg')] bg-cover text-white flex flex-col items-center justify-center">
    <h1 class="text-7xl mb-24">Grafica tus Diagramas</h1>
    <div class="flex flex-row flex-wrap justify-center items-center">
        <div (click)="goTo('class-diagram')" class="flex flex-col items-center justify-center m-4 flex-1/4 bg-green-aqua/50 backdrop-filter backdrop-blur-3xl backdrop-opacity-20 rounded-lg p-4 cursor-pointer">
            <h2>Diagrama de Clases</h2>
            <img src="assets/diagrams/diagrama-clases.png" class="max-h-16" alt="">
        </div>
        <div (click)="goTo('components-diagram')" class="flex flex-col items-center justify-center m-4 flex-1/4 bg-green-aqua/50 backdrop-filter backdrop-blur-3xl backdrop-opacity-20 rounded-lg p-4 cursor-pointer">
            <h2>Diagrama de Componentes</h2>
            <img src="assets/diagrams/diagrama-componentes.png" class="max-h-16" alt="">
        </div>
        <div (click)="goTo('use-case-diagram')" class="flex flex-col items-center justify-center m-4 flex-1/4 bg-green-aqua/50 backdrop-filter backdrop-blur-3xl backdrop-opacity-20 rounded-lg p-4 cursor-pointer">
            <h2>Diagrama de Casos de Uso</h2>
            <img src="assets/diagrams/diagrama-caso-de-uso.png" class="max-h-16" alt="">
        </div>
        <div (click)="goTo('sequence-diagram')" class="flex flex-col items-center justify-center m-4 flex-1/4 bg-green-aqua/50 backdrop-filter backdrop-blur-3xl backdrop-opacity-20 rounded-lg p-4 cursor-pointer">
            <h2>Diagrama de Secuencia</h2>
            <img src="assets/diagrams/diagrama-secuencia.png" class="max-h-16" alt="">
        </div>
        <div (click)="goTo('packages-diagram')" class="flex flex-col items-center justify-center m-4 flex-1/4 bg-green-aqua/50 backdrop-filter backdrop-blur-3xl backdrop-opacity-20 rounded-lg p-4 cursor-pointer">
            <h2>Diagrama de Paquetes</h2>
            <img src="assets/diagrams/diagrama-paquetes.png" class="max-h-16" alt="">
        </div>
    </div>
</div>